<div class="box">
    <span class="span3">
        <address>
            Dott. Chillari Daniele <br>         
            ODONTOIATRA         <br>
            Via Montemale 2/A 12025 Dronero (CN)   <br>         
            P.iva: 09096750014        <br>  
            C.F.: CHLDNL84C19I470V    <br>  
        </address>
    </span>
        <div class="rightInt">
            <div class="bollo">carta da bollo da euro1.81<br>apposta sull'originale<br><br></div>
            <div class="customerCredential">
                Dr Arnaud Oreste Francesco Maria <br>                              
                Via Montemarzo 31 14030 Azzano d'Asti AT   <br>                   
                p.i. 01089230054 <br> c.f.RNDRTF64M21A479K<br>
            </div>
        </div>
</div>

