<div class="row">
    <div class="span3">
        <h2>{{customer.surname}} {{customer.name}}</h2> <b>Tipo di cliente:</b>
        {{customer.type}}
        <h3>Indirizzo</h3>
        <p>
            <address>
                <div>
                    <span contenteditable ng-model="customer.address.streetType"></span>
                    <span contenteditable ng-model="customer.address.street"></span>
                    <span contenteditable ng-model="customer.address.streetNumber"></span>
                    <br>
                    <span contenteditable ng-model="customer.address.cap"></span>
                    <span contenteditable ng-model="customer.address.city"></span>
                    <span ng-show ="customer.address.provincia">(
                    <span contenteditable ng-model="customer.address.provincia"></span>
                    )</span>
                </div>
                <div ng-show="customer.pi">
                    P.iva:
                    <span contenteditable ng-model="customer.pi"></span>
                </div>
                <div ng-show="customer.cf">
                    C.F.:
                    <span contenteditable ng-model="customer.cf"></span>
                </div>
            </address>
        </p>

        <h3>Contatti</h3>
        <p ng-show="customer.mail"> 
            <b>Mail:</b>
            {{customer.mail}}
        </p>
        <p ng-show="customer.telephone">
            <b>Phone:</b>
            {{customer.telephone}}
        </p>
        <button class="btn btn-primary" ng-click="linkModify()">Modify</button>
    </div>
    <div class="span6 offset1">
        <h2>Bills:</h2><br>
        <table ng-show="customer.bills.length" class="table table-striped table-hover">
            <thead>
                <th>#</th>
                <th>Date</th>
                <th>Total:</th>
            </thead>
            <tbody>
                <tr ng-repeat="bill in customer.bills | orderBy : ['date']" ng-click="detail(bill._id)">
                    <td class="span1">{{bill.number}}</td>
                    <td class="span2">{{bill.date | date}}</td>
                    <td class="span2">{{bill.finalPrice | currency:"€ "}} </td>
                </tr>
            </tbody>
        </table>
        <strong ng-show="!customer.bills.length"> No bills</strong>
    </div>
</div>
