<!-- <img src="images/main.jpg">
-->
<div class="mainContainer">
    <div class="mainImage">
        <div class="posterTitle">Business Consultant</div>
    </div>
    <br>
    <div class="content span6">
        <div class="page-head">
            <h2>
                Business Consultant</h2>
           
        </div>
        <hr class="h-divider">
        <p> This is a personal project born for fun !!
            It is always a pain to  create, find, organize, categorize the bills: business consultant borns to take care of that. It is <strong>responsive</strong>, whenever you are: from your mobile, your tablet or at home Business Consultant is there for you  </p>
             <br>
        <div class="page-head">
            <h3>
                Demo
            </h3>
        </div>
        <hr class="h-divider">
        <p>First of all, the project is currently under developement, there are yet a lot of open issues, so this webApp has to be considered as an early beta demo.
        To access, the demo you have to complete the login form with username Demo password Demo.
        Inside you will find different categories, a few for the customer management, and the others to handle your bills. Have fun !   
        </p>
    <br>
        <div class="page-head">
            <h3>
                Development
            </h3>
        </div>
        <hr class="h-divider">
        <p> This project borns with the idea of explorinng and deepening the world of Single Page Application:B.Consultant has been developed using <strong>AngularJs</strong>, a well known framework for client-side app ( if you haven't ever tried Angular is brilliant) forn the clint and <strong>NodeJs</strong>, <strong>Expressjs</strong> and <strong>mongoDb</strong> for the server-side. The backend offers simple restFull APIs for CRUD operations on the resources ( I build a simple npm-module that make easy to define routes based on models).<br>
        Other tools as Twitter-Bootstrap, Yeoman, Grunt, Bower made my life easier.

        </p>
    </div>
</div>