@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";

body {
    /*base colour*/
    background-color: #dddddd; 
    /*these control the width of the stripes*/
    -webkit-background-size: 8px 8px;
    -moz-background-size: 8px 8px;
    background-size: 8px 8px; 
    background-image: 
      -webkit-gradient(linear, 0 0, 100% 100%,
      color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
      color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
      color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
      to(transparent));
    background-image: 
      -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
      transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
      transparent 75%, transparent);
    background-image: 
      -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
      transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
      transparent 75%, transparent);
    background-image: 
      -ms-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
      transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
      transparent 75%, transparent);
    background-image: 
      -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
      transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
      transparent 75%, transparent);
    background-image: 
      linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
      transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
      transparent 75%, transparent);  
}

input[type="text"],input[type="email"],input[type="telephone"] textarea {

  background-color : #fffefe; 

}

.form-divider{
	width: 300px;
}

.fixedprogress{
	position: absolute;
	width: 100%;
	top:42px;
	height: 8px;
}
.hidden{
	display: none;
}

.customerTable{
	tr{
		height: 50px;
	}

    button{
        width:130px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.box
{
    background-color: #FFFDFA;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}
.rightInt{
    float: right;
}
.bollo{
    border: dashed;
    border-width: 1px;
    width: 120px;
    padding-left: 10px;
}
.customerCredential{
    margin-top:40px;
    padding-bottom: 20px;
}
.rowt{
    height: 20px
}
.billTable{
    [contenteditable] { padding: 10px; outline: 1px dashed #CCC; }
    [contenteditable]:hover { outline: 1px dashed #0090D2; }
    [contenteditable]:focus { outline: 1px dashed #0090D2; }
    td:nth-child(1)
    {
    width:10px;
    }

    td:nth-child(3)
    {
    width:7px;
    }

    td:nth-child(4)
    {
    width:7px;
    }

}
.totale{
    td{
         height: 20px;
    }
}

.createBillBontainer{
    .span9{
        margin-left: 0;
    padding-left: 17px;
    }
}

address{
    [contenteditable]{
        border-bottom: 1px dotted #000000
    }
}
.chooseCustomer{
    padding-left: 10px;
    border-width: 1px;
    ul{
        overflow: hidden;
        padding-left: 15px;
    }

    .btn{
        margin-left: 12px;
        margin-bottom: 8px;
        width: 200px;
    }

    input {
        width: 150px;

    }
}


.span3.chooseCustomer{
    margin-left: 0px;
}

.billSaveControls{
    padding-left: 50px;
    button{
        margin-left: 30px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
}

.navbar-inner {
  background-color: #212121; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.navbar-inner .nav > li > a {
color: #999999;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inner .nav > li > a:hover {
color: #fff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inner .brand {
  padding-right: 30px;
  padding-left: 0;
  margin-left: 20px;
  float: left;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}

body > .navbar .brand:hover {
  text-decoration: none;
  color:rgba(255,255,255,.9);
/*  text-shadow: 0 1px 0 rgba(255,255,255,.3);
*/
}

.navbar .nav > .active > a {
  color:#dddddd;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
  background-color: rgba(0, 0, 0, .1);
}

.navbar .nav > .active > a:hover {
  text-decoration: none;
  color:white;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
  background-color: rgba(0, 0, 0, .2);

}


.navbar .nav > li > a:hover {
  text-decoration: none;
  color:white;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
  background-color: rgba(30, 30, 30, .1);

}

.circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 
}

.navbar .online:hover{
  cursor: default;
}

.evolution{
  float: right;
  height: 40px;
}