@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";
.form-divider{
	width: 300px;
}

.fixedprogress{
	position: absolute;
	width: 100%;
	top:42px;
	height: 8px;
}
.hidden{
	display: none;
}

.customerTable{
	tr{
		height: 70px;
	}
}

.box
{
    position: relative;
    float: left;
    width: 700px;
    height: auto;
    padding: 50px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}
.rightInt{
    float: right;
}
.bollo{
    border: dashed;
    float: right;
}
.customerCredential{
    float: right;
}